$primary:#9356dc;
$lightprimary:#9356dc26;
$secondary:#ff79da;
$darktertiary:#278b72;
$tertiary :#99e2d0;
$darkgray: #c8c8c8;
$gray: #dcdcdc;
$lightgray: #f5f5f5;
$black : #000;
$lightblack: #353535;
$white : #fff;

.card{
    background-color: $white;
    display: flex;
    margin-top: 0.75rem;
    border-radius: 15px;
    animation: slideup 2.5s ease-in-out;
    &__description{
        padding: 1rem 0.75rem;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        &__nom{
            font-weight: 800;
            max-height: 18px;
            font-size: 14px;
            margin-bottom: 0.20rem;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &__details{
            display: grid;
            font-size: 12px;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: space-between;
            text-overflow: ellipsis;
            overflow: hidden;
            &__overflow{
                display: block;
                max-height: 14px;
                font-size: 12px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &__price{
                font-weight: 800;
                margin-left: 15px;
            }
        }
    }
    &:not(:focus){
        .card{
            &__validation{
                background-color: $tertiary;
                border-radius: 0 15px 15px 0;
                animation: slideout 1s ease-in-out;
                width: 0px;
            }
        }
    }
    &:hover{
        .card{
            &__description{
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                &__nom{
                    font-weight: 800;
                    font-size: 14px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                &__details{
                    font-size: 12px;
                    max-height: 14px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    grid-template-columns: auto auto;
                    &__overflow{
                        font-size: 12px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }            
            &__validation{
                background-color: $tertiary;
                border-radius: 0 15px 15px 0;
                animation: slidein 1s ease-in-out;
                width: 75px;
            }
        }
    }
}

  @keyframes slideup {
    from {
        opacity: 0%;
        margin-top: 1.5rem;
    }
  
    to {
        opacity: 100%;
        margin-top: 0.75rem;
    }
  }

  @keyframes slidein{
    from {
        width: 0px;
    }
  
    to {
        width: 75px;
    }
  }

  @keyframes slideout{
    from {
        width: 75px;
    }
  
    to {
        width: 0px;
    }
  }