/*
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;

768px
1024px*/

/* Global Font Family */
*{
    font-family: 'Roboto', sans-serif;
    margin: unset;
    padding: unset;
    text-decoration: unset;
    letter-spacing: 0.05rem;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
a{
    color: black;
    &:visited{
        color: black;
    }
}
body{
    min-width: 320px;
}