$primary:#9356dc;
$lightprimary:#9356dc26;
$secondary:#ff79da;
$darktertiary:#278b72;
$tertiary :#99e2d0;
$darkgray: #c8c8c8;
$gray: #dcdcdc;
$lightgray: #f5f5f5;
$black : #000;
$lightblack: #353535;
$white : #fff;

/* leader */
.logo{
    width: 100%;
    text-align: center;
    &__title{
        display: block;
        font-family: 'Shrikhand', cursive;
        padding: 0.50rem 0;
        margin-bottom: 0.15rem;
        box-shadow: 0 0.50rem 1rem $darkgray;
        font-size: 32px;
    }
    &__location{
        background-color: $gray;
        padding: 0.75rem 0;
        display: flex;
        justify-content: center;
        &__icon{
            margin-right: 0.75rem;
        }
    }
    &__description{
        background-color: $lightgray;
        padding: 2rem 0;
        &__title{
            >h3{
                width: calc(66.67%);
            }
        }
        &__wrap{
            display: flex;
            justify-content: center;
            padding: 0.50rem calc(10%);
        }
        &__link{
            display: inline-block;
            font-weight: 700;
            color: white !important;
            background: linear-gradient(190deg, $secondary, $primary);
            border-radius: 5rem;
            margin: 1.5rem 0;
            padding: 1.5rem;
        }
    }
}

/* Section explanation */
.explanation{
    width: 100%;
    display: flex;
    flex-direction: column;
    &__title{
        margin: 2rem 3rem 1rem;
    }
    &__bubble{
        display: flex;
        align-items: center;
        padding: 1.5rem 8%;
        border-radius: 1.5rem;
        margin: 1rem 2rem;
        box-shadow: 0 0.50rem 1rem $lightgray;
        &:hover{
            background: $lightprimary;
            .explanation__icon{
                color: $primary;
            }
        }
    }
    &__number{
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary;
        color: white;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        position: absolute;
        left: 1rem;
    }      
    &__icon{
        display: flex;
        flex-direction: row;
        width: 2rem;
        padding-right: 8%;
    }
    &__text{
        font-size: 14px;
    }
}
.fa-bars{
    margin-left: 0.1rem;
}

/* Nav restaurants */
.restaurants{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
    &__title{
        margin-bottom: 2rem;
    }
    &__choix{
        &__carte{
            display: block;
            width: 100%;
            border-radius: 2rem;
            box-shadow: 0 0.50rem 1rem rgb(200, 200, 200);
            cursor: pointer;
            position: relative;
            margin-bottom: 2.5rem;
            &__image{
                height: 10rem;
                object-fit: cover;
                width: 100%;
                border-radius: 2rem 2rem 0 0;
            }
            &__nouveau{
                background: $tertiary;
                color: $darktertiary;
                font-weight: 500;
                padding: 0.5rem 1.15rem;
                border-radius: 0.3rem;
                position: absolute;
                top: 1.5rem;
                right: 1.5rem;
            }
            &__description{
                padding: 0.75rem 1.5rem;
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                justify-content: space-between;
            }
            &__lieu{
                margin-top: 0.25rem;
            }
            &__favoris{
                &__icon{
                    position: relative;
                    &__full{
                        display: none;
                    }
                }
                &:hover{
                    .restaurants__choix__carte__favoris__icon{
                        display: none;
                        &__full{
                            display: block;
                            color: red;
                        }
                    }
                }
            }
        }
    }
}


