/* leader */
.logo {
  width: 100%;
  text-align: center;
}
.logo__title {
  display: block;
  font-family: "Shrikhand", cursive;
  padding: 0.5rem 0;
  margin-bottom: 0.15rem;
  box-shadow: 0 0.5rem 1rem #c8c8c8;
  font-size: 32px;
}
.logo__location {
  background-color: #dcdcdc;
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
}
.logo__location__icon {
  margin-right: 0.75rem;
}
.logo__description {
  background-color: #f5f5f5;
  padding: 2rem 0;
}
.logo__description__title > h3 {
  width: 66.67%;
}
.logo__description__wrap {
  display: flex;
  justify-content: center;
  padding: 0.5rem 10%;
}
.logo__description__link {
  display: inline-block;
  font-weight: 700;
  color: white !important;
  background: linear-gradient(190deg, #ff79da, #9356dc);
  border-radius: 5rem;
  margin: 1.5rem 0;
  padding: 1.5rem;
}

/* Section explanation */
.explanation {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.explanation__title {
  margin: 2rem 3rem 1rem;
}
.explanation__bubble {
  display: flex;
  align-items: center;
  padding: 1.5rem 8%;
  border-radius: 1.5rem;
  margin: 1rem 2rem;
  box-shadow: 0 0.5rem 1rem #f5f5f5;
}
.explanation__bubble:hover {
  background: rgba(147, 86, 220, 0.1490196078);
}
.explanation__bubble:hover .explanation__icon {
  color: #9356dc;
}
.explanation__number {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9356dc;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  left: 1rem;
}
.explanation__icon {
  display: flex;
  flex-direction: row;
  width: 2rem;
  padding-right: 8%;
}
.explanation__text {
  font-size: 14px;
}

.fa-bars {
  margin-left: 0.1rem;
}

/* Nav restaurants */
.restaurants {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2rem;
}
.restaurants__title {
  margin-bottom: 2rem;
}
.restaurants__choix__carte {
  display: block;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgb(200, 200, 200);
  cursor: pointer;
  position: relative;
  margin-bottom: 2.5rem;
}
.restaurants__choix__carte__image {
  height: 10rem;
  object-fit: cover;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}
.restaurants__choix__carte__nouveau {
  background: #99e2d0;
  color: #278b72;
  font-weight: 500;
  padding: 0.5rem 1.15rem;
  border-radius: 0.3rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.restaurants__choix__carte__description {
  padding: 0.75rem 1.5rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}
.restaurants__choix__carte__lieu {
  margin-top: 0.25rem;
}
.restaurants__choix__carte__favoris__icon {
  position: relative;
}
.restaurants__choix__carte__favoris__icon__full {
  display: none;
}
.restaurants__choix__carte__favoris:hover .restaurants__choix__carte__favoris__icon {
  display: none;
}
.restaurants__choix__carte__favoris:hover .restaurants__choix__carte__favoris__icon__full {
  display: block;
  color: red;
}

/*# sourceMappingURL=style.css.map */
