
/*$primary:#9356DC;
$secondary:#FF79DA;
$tertiary :#99E2D0;
$darkgray: #666;
$gray: #aaa;
$lightgray: #ddd;
$black : #000;


font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;

768px
1024px*/

/* Global Font Family */
*{
    font-family: 'Roboto', sans-serif;
    margin: unset;
    padding: unset;
    text-decoration: unset;
    letter-spacing: 0.05rem;
    box-sizing: border-box;
}
a{
    color: black;
}
a:visited{
    color: black;
}

/* leader */
.logo{
    width: 100%;
    text-align: center;
}
.logo__title{
    display: block;
    font-family: 'Shrikhand', cursive;
    padding: 0.50rem 0;
    margin-bottom: 0.15rem;
    box-shadow: 0 0.50rem 1rem rgb(200, 200, 200);
}
.logo__location{
    background-color: rgb(235, 235, 235);
    padding: 0.75rem 0;
    display: flex;
    justify-content: center;
}
.logo__location__icon{
    margin-right: 0.75rem;
}
.logo__description{
    background-color: rgb(245, 245, 245);
    padding: 2rem 0;
}
.logo__description__title>h3{
    width: calc(66.67%);
}
.logo__description__wrap{
    display: flex;
    justify-content: center;
    padding: 0.50rem calc(10%);
}
.logo__description__link{
    display: inline-block;
    font-weight: 700;
    color: white !important;
    background: rgb(255,121,218);
    background: linear-gradient(190deg, rgba(255,121,218) 0%, rgba(147,86,220) 100%);
    border-radius: 5rem;
    margin: 1.5rem 0;
    padding: 1.5rem;
}

/* Section explanation */
.explanation__title{
    margin: 2rem 3rem 1rem;
}
.explanation{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.explanation__bubble{
    display: flex;
    align-items: center;
    padding: 1.5rem 8%;
    border-radius: 1.5rem;
    margin: 1rem 3rem;
    box-shadow: 0 0.50rem 1rem rgb(200, 200, 200);
}
.explanation__bubble:hover{
    background: rgba(147,86,220,.15);
}
.explanation__number{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9356dc;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    left: 2rem;
}
.explanation__bubble:hover>.explanation__icon{
    color: #9356dc !important;
}
.explanation__icon{
    display: flex;
    flex-direction: row;
    width: 2rem;
    padding-right: 8%;
}
.fa-bars{
    margin-left: 0.1rem;
}

/* Nav restaurants */
.restaurants{
    margin: 2rem;
}
.restaurants__title{
    margin-bottom: 1rem;
}
.restaurants__choix__carte{
    display: block;
    width: 100%;
    min-width: 2.3rem;
    border-radius: 2rem;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    cursor: pointer;
    position: relative;
    transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.restaurants__choix__carte__image{
    height: 10rem;
    object-fit: cover;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
}
.restaurants__choix__carte__nouveau{
    background: #a9e0d1;
    color: #3b8468;
    font-weight: 500;
    padding: 0.5rem 1.15rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}
.restaurants__choix__carte__description{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}
.restaurants__choix__carte__lieu{
    margin-top: 0.15rem;
}